@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul {
	padding: 0;
	margin: 0;
}
:root {
	--color1: #fff;
	--color2: #e2b55d;
	--color3: #000;
	--color4: #49453b;
	--color5: #ffffff99;
}
/*TOP NAV BAR*/

.navbar {
	padding: 0;
	position: fixed;
	top: 0;
	background-color: var(--color1);
	overflow: hidden;
	width: 100%;
	opacity: 0.8;
	z-index: 999;
}
.topBar .navbar .navbar-nav .nav-link {
	color: var(--color3);
	text-transform: capitalize;
	padding: 0;
	padding: 33px 20px;
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	transition: .5s;
}
.topBar .navbar .navbar-nav .nav-link:hover {
	color: var(--color2);
	cursor: pointer;
}
ul.socialIcons li {
	list-style: none;
	display: inline-block;
}
ul.socialIcons li a {
	padding: 33px 10px;
	color: var(--color2);
}
.navbar-dark .navbar-toggler-icon {
	background-image: url("../images/mobile-menu-icon.png");
}
.topBar .navbar .navbar-nav .nav-link.active {
	color: var(--color2);
}
@media screen and (max-width: 767px) {
	nav.navbar.navbar-expand-md.navbar-dark{
		background-color: #fff!important;
		opacity: 1!important;
	}
}
/*TOP NAV BAR END*/

/*BANNER*/
.banner .parallax-window {
    min-height: 90vh;
    background: transparent;
    position: relative;
}
.bannerInfo {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
}
.bannerInfo h1 {
	font-size: 60px;
	font-family: 'Playfair Display', serif;
	color: var(--color1);
	text-transform: capitalize;
	font-weight: 500;
}
.bannerInfo a {
	color: var(--color1);
	font-size: 20px;
	text-decoration: none;
	text-transform: capitalize;
	border: 2px solid #fff;
	padding: 15px 40px;
	transition: .5s;
}
.bannerInfo a:hover {
	color: var(--color3);
	background: var(--color1);
	cursor: pointer;
}
@media screen and (max-width: 767px) {
	.bannerInfo {
		top: 40%!important;
	}
	.banner .parallax-window {
		min-height: 40vh;
	}
}
/*BANNER END*/

/* CONTACT AREA */
.contact .no-pad {
	padding: 0!important;
	margin: 0!important;
}
.contact .contactForm {
	padding: 50px;
}
.contact .contactForm h2 {
	text-transform: capitalize;
	font-family: 'Playfair Display', serif;
	font-size: 35px;
	color: var(--color2);
	font-weight: 600;
	text-align: center;
}
.contact .contactForm img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.form-icon {
	position: relative;
}
form input[type="text"],
form input[type="email"] {
	width: 100%;
	height: 40px;
	padding: 0 30px;
	width: calc(100% - 60px);
	border: 1px solid var(--color2);
}
.form-icon i {
	position: absolute;
	font-size: 11px;
	display: inline-block;
	top: 15px;
    left: 10px;
    color: var(--color2);
}
textarea {
	width: 89%;
	border: 1px solid var(--color2);
	padding: 5px;
	text-indent: 25px;
}
form input[type="submit"] {
	height: 40px;
	padding: 6px 16px;
	background: var(--color2);
	color: #fff;
	border: none;
}

@media screen and (max-width: 767px) {
	.contact .map {
		width: 100%;
	}
	form input[type="text"] {
		width: 100%!important;
	}
	textarea {
		width: 100%!important;
	}
	.contact .contactForm {
		padding: 70px 5px!important;
	}
}
/* CONTACT AREA END */

/* GUEST REVIEWS */
.slider {
	background-image: url("../images/hotel-room.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 80px 0;
	position: relative;
}
.slider:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.7;
}
.carousel-inner h1 {
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: var(--color1);
	text-transform: capitalize;
}
.carousel-inner img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.carousel-item p {
	color: var(--color1);
	font-size: 24px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-style: italic;
}
ul.carousel-indicators li {
	height: 10px;
	width: 10px;
	background-color: #000;
	border: 1px solid #fff;
	border-radius: 50%;
}
/* GUEST REVIEWS END */

/* FOOTER */
.footer {
	background: var(--color4);
	padding: 40px 0;
}
.footer .footer-info {
	text-align: center;
}
.footer .footer-info h3 {
	text-transform: capitalize;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	color: var(--color1);
}
.footer .footer-info p {
	color: var(--color5);
	margin-bottom: 0;
	font-size: 15px;
}
.footer .footer-info ul.icons {
	margin-top: 15px;
}
.footer .footer-info ul.icons li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}
.footer .footer-info ul.icons li a {
	color: var(--color1);
	text-decoration: none;
	transition: .5s;
}
.footer .footer-info ul.icons li a:hover {
	color: #337ab7;
	cursor: pointer;
}
.fa-facebook-f, .fa-dribbble, .fa-twitter, .fa-google-plus-g, .fa-youtube {
	transition: .5s;
}
.fa-facebook-f:hover {
	color: #4267B2;
}
.fa-dribbble:hover {
	color: #ea4c89;
}
.fa-twitter:hover {
	color: #1DA1F2;
}
.fa-google-plus-g:hover {
	color: #db4a39;
}
.fa-youtube:hover {
	color: #c4302b;
}
/* FOOTER END */

/* FOOTER BOTTOM */
.footer-bottom {
	background-color: var(--color3);
}
.footer-bottom p {
	margin: 0;
	color: var(--color5);
}
ul.bottom-list {
	text-align: right;
}
.footer-bottom ul.bottom-list li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}
.footer-bottom ul.bottom-list li a {
	text-decoration: none;
	color: #fff;
}
@media screen and (max-width: 767px) {
	ul.bottom-list {
		text-align: left!important;
	}
}
/* FOOTER BOTTOM END */